@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color-scheme: dark;
}
